<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand fw-bold" [routerLink]="['/']"><img src="assets/images/logo.png"></a>
  </div>
</nav>
<header class="master-head">
  <div>
    <img src="assets/images/banner.jpg" class="img-fluid">
  </div>
  <div class="container mt-3">
    <h1 class="text-bold"><span class="highlight">WELCOME</span>CASINO</h1>
    <p>Welcome to our site, We are the best online gaming and beting provider</p>
    <div class="d-flex  align-items-center">
      <div>
        <a href="assets/res/GreatGaming.mobileconfig" role="button" class="btn btn-outline-light mt-4 me-3" download>
          <i class="fab fa-apple"></i>
          IOS
        </a>
      </div>
      <div>
        <a href="assets/res/GREATGAMING-APK.apk" role="button" class="btn btn-outline-light mt-4" download>
          <i class="fab fa-android"></i>
          Android
        </a>
      </div>
    </div> 
  </div>
</header>