.master-head {
    height: 100vh;
    padding-top: 66px;
    padding-bottom: 5rem;
    color: #fff;
    background: #068ae3;
  }
  
  .navbar {
    background: #000;
  }
  
  .highlight {
    color: #fd295a;
  }
  
  .text-bold {
    font-weight: bold;
  }

  .btn:hover{
    color: #fff;
    background-color: #b45cd7;
  }